In [1]:
import pandas as pd

In [4]:
repo = pd.read_csv('Repositories.csv')
repo.head()

   Worker ID Month, Day, Year of Date  Coding Effort  Repo
0       8181                 7/1/2015           0.00  1199
1      77176                 7/1/2015           5.00   121
2     107550                 7/1/2015           4.73   122
3     107550                 7/1/2015           0.26   123
4     116880                 7/1/2015           5.00   126

In [3]:
repo2 = repo.drop('Month, Day, Year of Date',1)

In [6]:
repo2 = repo2.groupby(['Worker ID','Repo']).sum()
repo2 =repo2.unstack()
repo2.columns = repo2.columns.droplevel()
repo2 = repo2.fillna(0)
repo2.head()

Repo,1,2,3,5,6,7,9,10,11,12,...,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732
Worker ID,,,,,,,,,,,,,,,,,,,,,
8181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
repo2.to_csv('repo.csv')

In [7]:
repo.dtypes

Worker ID                     int64
Month, Day, Year of Date     object
Coding Effort               float64
Repo                          int64
dtype: object

In [5]:
repo['Month, Day, Year of Date'] = repo['Month, Day, Year of Date'].astype('str')

In [6]:
from datetime import datetime
date = repo['Month, Day, Year of Date'].tolist()
dataup = []
for i in range(len(date)):
    x = datetime.strptime(date[i], '%m/%d/%Y')
    dataup.append(x)

In [7]:
month = []
for d in range(len(dataup)):
    m = dataup[d].strftime('%m')
    month.append(m)
repo['month'] = month
repo.head()

   Worker ID Month, Day, Year of Date  Coding Effort  Repo month
0       8181                 7/1/2015           0.00  1199    07
1      77176                 7/1/2015           5.00   121    07
2     107550                 7/1/2015           4.73   122    07
3     107550                 7/1/2015           0.26   123    07
4     116880                 7/1/2015           5.00   126    07

In [6]:
repo = repo.drop('Month, Day, Year of Date',1)

In [18]:
repo_big = repo.loc[repo['Repo'].isin([139])]

In [20]:
repo_big.to_csv('repo_big.csv')

In [12]:
repo_07 = repo.loc[repo['month'] == '07']
repo_08 = repo.loc[repo['month'] == '08']
repo_09 = repo.loc[repo['month'] == '09']

In [13]:
repo_08 = repo_08.drop('month',1)
repo_07 = repo_07.drop('month',1)
repo_09 = repo_09.drop('month',1)

In [8]:
repo.head()

   Worker ID  Coding Effort  Repo month
0       8181           0.00  1199    07
1      77176           5.00   121    07
2     107550           4.73   122    07
3     107550           0.26   123    07
4     116880           5.00   126    07

In [15]:
repo_07 = repo_07.groupby(['Worker ID','Repo']).sum()
repo_07 =repo_07.unstack()
repo_07.columns = repo_07.columns.droplevel()
repo_07 = repo_07.fillna(0)
repo_07.head()

Repo,1,2,3,5,6,7,10,11,12,13,...,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697
Worker ID,,,,,,,,,,,,,,,,,,,,,
8181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
repo_07.to_csv('repo_07.csv')

In [17]:
repo_08 = repo_08.groupby(['Worker ID','Repo']).sum()
repo_08 =repo_08.unstack()
repo_08.columns = repo_08.columns.droplevel()
repo_08 = repo_08.fillna(0)
repo_08.to_csv('repo_08.csv')
repo_08.head()

Repo,1,2,3,5,6,7,10,11,12,13,...,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704
Worker ID,,,,,,,,,,,,,,,,,,,,,
8181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
repo_09 = repo_09.groupby(['Worker ID','Repo']).sum()
repo_09 =repo_09.unstack()
repo_09.columns = repo_09.columns.droplevel()
repo_09 = repo_09.fillna(0)
repo_09.to_csv('repo_09.csv')
repo_09.head()

Repo,1,2,3,5,6,7,9,10,11,12,...,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732
Worker ID,,,,,,,,,,,,,,,,,,,,,
8181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
Repobyworker = Repo_Effort.groupby(['Worker ID','Repo']).sum()
Repounstack = Repobyworker.unstack()
Repounstack.columns = Repounstack.columns.droplevel()
Repounstack = Repounstack.fillna(0)
Repounstack.head()

In [28]:
Repounstack = Repobyworker.unstack()
Repounstack.columns = Repounstack.columns.droplevel()

In [32]:
Repounstack = Repounstack.fillna(0)
Repounstack.head()

Repo,Repo 1,Repo 10,Repo 100,Repo 1000,Repo 1001,Repo 1002,Repo 1003,Repo 1004,Repo 1005,Repo 1006,...,Repo 990,Repo 991,Repo 992,Repo 993,Repo 994,Repo 995,Repo 996,Repo 997,Repo 998,Repo 999
Worker ID,,,,,,,,,,,,,,,,,,,,,
8181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107550,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
Repounstack.to_csv('Repo_matrix.csv')

In [4]:
Task_Effort = Task_Effort.drop('Task id',1)

In [7]:
Task_Effort.head()

   Worker ID        Date Raw Effort    Application    Repo
0        NaN  24/09/2015     130.48  Application 1  Repo 1
1        NaN  14/07/2015      65.88           Null  Repo 2
2        NaN  15/07/2015      29.99           Null  Repo 2
3        NaN  16/07/2015      14.42           Null  Repo 2
4        NaN  17/07/2015       5.08           Null  Repo 2

In [8]:
Task_Effort = Task_Effort.dropna()

In [9]:
Task_Effort.head()

      Worker ID        Date Raw Effort     Application      Repo
1098      77176    1/7/2015       0.34  Application 32  Repo 121
1099      77176    2/7/2015      31.78  Application 32  Repo 121
1100      77176    3/7/2015      24.33  Application 32  Repo 121
1101      77176  24/07/2015     102.05  Application 32  Repo 121
1102      77176  31/07/2015       42.6  Application 32  Repo 121

In [11]:
Date = Task_Effort.Date.tolist()

In [25]:
month = []
for i in range(len(Date)):
    x = Date[i].split('/')[1]
    month.append(x)
for i in range(len(Date)):
    month[i] = month[i].strip('0')

In [27]:
Task_Effort['month'] = month

In [28]:
Task_Effort.head()

      Worker ID        Date Raw Effort     Application      Repo month
1098      77176    1/7/2015       0.34  Application 32  Repo 121     7
1099      77176    2/7/2015      31.78  Application 32  Repo 121     7
1100      77176    3/7/2015      24.33  Application 32  Repo 121     7
1101      77176  24/07/2015     102.05  Application 32  Repo 121     7
1102      77176  31/07/2015       42.6  Application 32  Repo 121     7

In [40]:
Task_Effort['Raw Effort']

1098       0.34
1099      31.78
1100      24.33
1101     102.05
1102       42.6
1103       49.3
1104       80.6
1105       5.73
1106      26.67
1107       4.59
1108      73.56
1109       9.95
1110     163.91
1111       0.48
1112       0.85
1113       28.7
1114       23.1
1115     182.32
1116       3.21
1117      26.62
1118      28.91
1119      51.52
1120      47.25
1121       19.9
1122       26.5
1123     123.36
1124       62.3
1125      30.83
1126      26.21
1127       7.15
          ...
53221    195.17
53222     46.75
53223     68.55
53224     38.56
53225       6.2
53226        22
53227      1.64
53228         0
53229      1.64
53230      5.05
53231     10.72
53232     15.58
53233     42.51
53234      4.82
53235     10.79
53236      0.11
53237     10.33
53238     25.39
53239     92.57
53240     10.01
53241     17.63
53242     46.92
53243    150.42
53244     27.19
53245    104.67
53246     36.52
53247     32.69
53248      13.7
53249     10.57
53250     23.29
Name: Raw Effort, dtype: object

In [44]:
Task_Effort = Task_Effort.convert_objects(convert_numeric=True)

C:\Users\Miya\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [50]:
Task_sum = Task_Effort.groupby(['Worker ID','Repo','month']).sum()

In [52]:
Task_sum.reset_index(level=0, inplace=True)

In [54]:
Task_sum.reset_index(level=0, inplace=True)

In [56]:
Task_sum.reset_index(level=0, inplace=True)

In [61]:
Task_sum.head()
Task_sum.columns = ['month','Repo','Worker_ID','Raw Effort']

In [66]:
Task_sum.head()

   month      Repo  Worker_ID  Raw Effort
0      7  Repo 121      77176      201.10
1      8  Repo 121      77176      250.40
2      9  Repo 121      77176      509.62
3      7  Repo 122     107550       93.65
4      8  Repo 122     107550      249.85

In [62]:
Task_sum.to_csv('edges_Task.csv')

In [67]:
nodes_Task = pd.DataFrame()
nodes_Task['id'] = Task_sum.Repo.unique().tolist() + Task_sum.Worker_ID.unique().tolist()
nodes_Task['label'] = Task_sum.Repo.unique().tolist() + Task_sum.Worker_ID.unique().tolist()
nodes_Task['Cat'] = ['Repo'] * len(Task_sum.Repo.unique()) + ['Worker'] * len(Task_sum.Worker_ID.unique())
nodes_Task.head()

         id     label   Cat
0  Repo 121  Repo 121  Repo
1  Repo 122  Repo 122  Repo
2  Repo 123  Repo 123  Repo
3  Repo 124  Repo 124  Repo
4  Repo 125  Repo 125  Repo

In [68]:
nodes_Task.to_csv('nodes_Task.csv')

In [6]:
task.columns = ['Bug_id','Date','Worker_id','Task_id']
task = task.dropna()

In [7]:
task.isnull().any()

Bug_id       False
Date         False
Worker_id    False
Task_id      False
dtype: bool

In [8]:
task.head()

     Bug_id      Date  Worker_id   Task_id
0  19336296  1-Jul-15   43349042  kjq-6093
1  24487876  1-Jul-15     117614  kjq-6093
2  19167345  1-Jul-15   43216086  kjq-6097
3  19167346  1-Jul-15   43216086  kjq-6097
4  19336187  1-Jul-15     117614  kjq-6110

In [9]:
task.to_csv('for_tablea.csv')

In [5]:
taskclean  = taskclean.sort_values('Worker_id')

NameError: name 'taskclean' is not defined

## edges 150 times of nodes

In [33]:
len(task)/len(task.groupby('Worker_id').count())

114

## No duplicates in 'Date' 'Bug_id' but 'Task_id'

In [6]:
task_clean = task.groupby(['Worker_id','Task_id']).count().drop('Bug_id',1)

In [7]:
task_clean.head()

                    Date
Worker_id Task_id
4529      eyb-1025    18
          eyb-1027     2
          eyb-1029     8
          eyb-1031     5
          eyb-1298     5

In [8]:
task_clean.reset_index(level=0, inplace=True)
task_clean.head()

          Worker_id  Date
Task_id
eyb-1025       4529    18
eyb-1027       4529     2
eyb-1029       4529     8
eyb-1031       4529     5
eyb-1298       4529     5

In [9]:
task_clean.reset_index(level=0, inplace=True)
task_clean.head()

    Task_id  Worker_id  Date
0  eyb-1025       4529    18
1  eyb-1027       4529     2
2  eyb-1029       4529     8
3  eyb-1031       4529     5
4  eyb-1298       4529     5

In [40]:
nodes = pd.DataFrame()
nodes['id'] = task_clean.Task_id.unique().tolist() + task_clean.Worker_id.unique().tolist()
nodes['label'] = task_clean.Task_id.unique().tolist() + task_clean.Worker_id.unique().tolist()
nodes['Cat'] = ['Task']*len(task_clean.Task_id.unique()) + ['Worker'] * len(task_clean.Worker_id.unique())
nodes.head()

         id     label   Cat
0  eyb-1025  eyb-1025  Task
1  eyb-1027  eyb-1027  Task
2  eyb-1029  eyb-1029  Task
3  eyb-1031  eyb-1031  Task
4  eyb-1298  eyb-1298  Task

In [41]:
nodes.to_csv('nodes.csv')

In [8]:
task_clean = task_clean.unstack()
task_clean.columns = task_clean.columns.droplevel()

In [9]:
task_clean = task_clean.fillna(0)

In [10]:
task_clean.head()

Task_id,abb-1196,abb-1224,abb-1229,abb-124,abb-1244,abb-1245,abb-1246,abb-1270,abb-1271,abb-1272,...,zxe-917,zxe-939,zxe-942,zxe-945,zxe-965,zxe-967,zxe-971,zxe-972,zxe-973,zxe-985
Worker_id,,,,,,,,,,,,,,,,,,,,,
4529,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18286,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
task_clean.to_csv('R_matrix.csv')

In [12]:
task_clean = pd.read_csv('R_matrix.csv')

In [13]:
task_clean.head()

,Worker_id,abb-1196,abb-1224,abb-1229,abb-124,abb-1244,abb-1245,abb-1246,abb-1270,abb-1271,...,zxe-917,zxe-939,zxe-942,zxe-945,zxe-965,zxe-967,zxe-971,zxe-972,zxe-973,zxe-985
0,4529,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8181,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9405,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18286,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,18302,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
task_clean.to_csv('edge.csv')

In [17]:
taskpivot = taskclean.sort_values(['Worker_id','Date'])

In [18]:
taskpivot = taskclean.reset_index().drop('index',1)

In [19]:
taskpivot.head()

     Bug_id       Date Worker_id Task_id
0  21222939   8-Jul-15   W4529.0   T1029
1  19148397  24-Aug-15   W4529.0    T867
2  21293554   1-Aug-15   W4529.0   T1031
3  21222943   8-Jul-15   W4529.0   T1029
4  21293555   1-Aug-15   W4529.0   T1031

In [20]:
taskprepared = taskpivot.groupby(['Worker_id','Task_id']).count()

In [21]:
taskprepared.columns = ['Bug_cnt','Date_cnt']
taskprepared = taskprepared.drop('Bug_cnt',1)

In [22]:
taskprepared.head()

                   Date_cnt
Worker_id Task_id
W100017.0 T10838          5
          T20022          6
          T20280          2
          T20316          6
          T20406          6

In [38]:
taskprepared.Task_id.unique()

array(['T10838', 'T20022', 'T20280', ..., 'T34491', 'T34794', 'T17839'], dtype=object)

In [39]:
taskprepared.Worker_id.unique()

array(['T100017.0', 'T100588.0', 'T100662.0', ..., 'T99926341.0',
       'T99926548.0', 'T99926721.0'], dtype=object)

In [43]:
nodes = pd.DataFrame()
nodes['id'] = list(taskprepared.Task_id.unique()) + list(taskprepared.Worker_id.unique())
nodes['label'] = list(taskprepared.Task_id.unique()) + list(taskprepared.Worker_id.unique())
nodes['Attribute'] = ['Task'] * len(taskprepared.Task_id.unique()) + ['Worker'] * len(list(taskprepared.Worker_id.unique()))
nodes.to_csv('nodes.csv')

In [32]:
taskprepared.reset_index(level=0, inplace=True)
taskprepared.reset_index(level=0, inplace=True)

In [34]:
#taskprepared = taskprepared.drop('index',1)
#taskprepared = taskprepared.drop('Date',1)
taskprepared.columns = ['Task_id','Worker_id','weight/days']
taskprepared.to_csv('Task_edges.csv')

In [38]:
nodes = pd.DataFrame()
nodes['id'] = list(taskprepared.Task_id.unique())+ list(taskprepared.Worker_id.unique())
nodes['type'] = ['Task'] * len(taskprepared.Task_id.unique()) + ['Worker'] * len(taskprepared.Worker_id.unique())

In [42]:
nodes.to_csv('Task_nodes.csv')

In [46]:
taskprepared = taskprepared.unstack()
taskprepared.columns = taskprepared.columns.droplevel()

In [47]:
taskprepared.head()

,0,1,2,3,4,5,6,7,8,9,...,110110,110111,110112,110113,110114,110115,110116,110117,110118,110119
Task_id,T10838,T20022,T20280,T20316,T20406,T20407,T20571,T20789,T20790,T20997,...,T606,T2152,T2158,T2474,T2501,T2505,T586,T1134,T1136,T884
Worker_id,T100017.0,T100017.0,T100017.0,T100017.0,T100017.0,T100017.0,T100017.0,T100017.0,T100017.0,T100017.0,...,T99926341.0,T99926548.0,T99926548.0,T99926548.0,T99926548.0,T99926548.0,T99926548.0,T99926721.0,T99926721.0,T99926721.0
Date_cnt,5,6,2,6,6,7,6,2,2,3,...,8,2,2,2,2,2,2,3,4,28

In [30]:
taskprepared.columns

Index([u'Date_cnt'], dtype='object')

In [31]:
taskprepared.head()

                   Date_cnt
Worker_id Task_id
T100017.0 T10838          5
          T20022          6
          T20280          2
          T20316          6
          T20406          6

In [33]:
taskprepared.fillna(0).sort_index().to_csv('task_matrix.csv')

In [38]:
taskprepared.fillna(0).head()

,Task0,Task1,Task2,Task3,Task4,Task5,Task6,Task7,Task8,Task9,...,Task26166,Task26167,Task26168,Task26169,Task26170,Task26171,Task26172,Task26173,Task26174,Task26175
W0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
W1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
W2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
W3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
W4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
taskclean.head()

          Bug_id       Date  Worker_id  Task_id
30933   21222939   8-Jul-15       4529     1029
296337  19148397  24-Aug-15       4529      867
177389  21293554   1-Aug-15       4529     1031
30937   21222943   8-Jul-15       4529     1029
177390  21293555   1-Aug-15       4529     1031

In [69]:
Worker_id = []
Task_id = []
worker_ori = taskclean.Worker_id.tolist()

for i in range(len(worker_ori)):
    x = 'W'+str(worker_ori[i])
    Worker_id.append(x)
taskclean['Worker_id'] = Worker_id

In [70]:
task_ori = taskclean.Task_id.tolist()
for i in range(len(task_ori)):
    x = 'T'+str(task_ori[i])
    Task_id.append(x)
taskclean['Task_id'] = Task_id

In [71]:
taskclean.head()

          Bug_id       Date Worker_id Task_id
30933   21222939   8-Jul-15   W4529.0   T1029
296337  19148397  24-Aug-15   W4529.0    T867
177389  21293554   1-Aug-15   W4529.0   T1031
30937   21222943   8-Jul-15   W4529.0   T1029
177390  21293555   1-Aug-15   W4529.0   T1031

In [78]:
taskclean.Worker_id.unique()

array(['W4529.0', 'W8181.0', 'W9405.0', ..., 'W99926341.0', 'W99926548.0',
       'W99926721.0'], dtype=object)

In [89]:
worker_list = ['Worker'] * len(taskclean.Worker_id.unique())
worker = pd.DataFrame()
worker['id'] = taskclean.Worker_id.unique()
worker['type'] = worker_list
worker.head()

         id    type
0   W4529.0  Worker
1   W8181.0  Worker
2   W9405.0  Worker
3  W18286.0  Worker
4  W18302.0  Worker

In [90]:
task_list = ['Task'] * len(taskclean.Task_id.unique())
TASK = pd.DataFrame()
TASK['id'] = taskclean.Task_id.unique()
TASK['type'] = task_list
TASK.head()

      id  type
0  T1029  Task
1   T867  Task
2  T1031  Task
3   T864  Task
4   T872  Task

In [91]:
node = pd.concat([worker,TASK],ignore_index = True)

In [93]:
node.to_csv('Task_matrix_node.csv')