In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("repositories.csv")

In [5]:
data.head()

   Worker ID  Repo  Coding Effort Month, Day, Year of Date
0       8181  1199           0.00                 7/1/2015
1      77176   121           5.00                 7/1/2015
2     107550   122           4.73                 7/1/2015
3     107550   123           0.26                 7/1/2015
4     116880   126           5.00                 7/1/2015

In [6]:
worker_unique = data['Worker ID'].unique()

In [7]:
repo_unique = data['Repo'].unique()

In [8]:
len(worker_unique)

2621

In [9]:
len(repo_unique)

1705

In [11]:
26*26*26

17576

In [18]:
worker_id = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [27]:
worker_unique_refined = []
i = 0
refined_id = 'aaa'
while i<2621:
    if refined_id not in worker_unique_refined:
        worker_unique_refined.append(refined_id)
        i = i+1
    else:
        index_1 = randint(0,25)
        letter_1 = worker_id[index_1]
        index_2 = randint(0,25)
        letter_2 = worker_id[index_2]
        index_3 = randint(0,25)
        letter_3 = worker_id[index_3]
        refined_id = letter_1+letter_2+letter_3

In [28]:
len(worker_unique_refined)

2621

In [16]:
worker_id = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

6

In [26]:
repo_id = [i.upper() for i in worker_id]

In [29]:
repo_unique_refined = []
i = 0
refined_id = 'AAA'
while i<1705:
    if refined_id not in repo_unique_refined:
        repo_unique_refined.append(refined_id)
        i = i+1
    else:
        index_1 = randint(0,25)
        letter_1 = repo_id[index_1]
        index_2 = randint(0,25)
        letter_2 = repo_id[index_2]
        index_3 = randint(0,25)
        letter_3 = repo_id[index_3]
        refined_id = letter_1+letter_2+letter_3

In [30]:
len(repo_unique_refined)

1705

In [32]:
worker_dict = {i[0]:i[1] for i in zip(worker_unique, worker_unique_refined)}

In [34]:
repo_dict = {i[0]:i[1] for i in zip(repo_unique, repo_unique_refined)}

In [39]:
data['repo_refined'] = map(lambda x: repo_dict[x],data['Repo'])

In [40]:
data['Worker_refined'] = map(lambda x: worker_dict[x],data['Worker ID'])

In [41]:
data.head()

,Worker ID,Repo,Coding Effort,"Month, Day, Year of Date",repo_refined,Worker_refined
0,8181,1199,0.00,7/1/2015,AAA,aaa
1,77176,121,5.00,7/1/2015,HEL,dxw
2,107550,122,4.73,7/1/2015,WHS,woe
3,107550,123,0.26,7/1/2015,EZR,woe
4,116880,126,5.00,7/1/2015,RJA,wlk

In [42]:
data = data.drop('Worker ID', 1)

In [43]:
data = data.drop('Repo',1)

In [44]:
data.head()

   Coding Effort Month, Day, Year of Date repo_refined Worker_refined
0           0.00                 7/1/2015          AAA            aaa
1           5.00                 7/1/2015          HEL            dxw
2           4.73                 7/1/2015          WHS            woe
3           0.26                 7/1/2015          EZR            woe
4           5.00                 7/1/2015          RJA            wlk

In [45]:
data.to_csv("repositories_refined.csv")